:root {
  --marsala:#6c1d30;
  --amarelo: #CCAD91;
  --branco:#fbfaf9;
}

/* ELEMENTS*/
.fb {
  bottom: 0;
  left: 0;
}
.fb img {
  width: 150px;
}

.cb {
  bottom: 10px;
  right: 10px;
}
.cb img {
  width: 50px;
}

@media (min-width: 1210px) {
  .mc {
    top: -100px;
  }
}
@media (min-width: 2100px) {
  .mc {
    bottom: -200px;
  }
}
.mc img {
  width: 40vw;
  mix-blend-mode: multiply;
}
@media (max-width: 1440px) {
  .mc img {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .mc img {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .mc img {
    width: 80vw;
  }
}
@media (max-width: 450px) {
  .mc img {
    width: 100vw;
  }
}

.mb {
  bottom: 0;
  right: 0;
}
@media (min-width: 1210px) {
  .mb {
    bottom: -100px;
  }
}
@media (min-width: 2100px) {
  .mb {
    bottom: -200px;
  }
}
.mb img {
  width: 40vw;
  mix-blend-mode: multiply;
}
@media (max-width: 1440px) {
  .mb img {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .mb img {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .mb img {
    width: 80vw;
  }
}
@media (max-width: 450px) {
  .mb img {
    width: 100vw;
  }
}

.elements {
  position: fixed;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  background-image: url(../images/bg.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: contain;
  z-index: -1020;
}

/* GERAL */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fbfaf9;
  color: #6c1d30;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

* {
  transition: all 0.5s ease-in-out;
}

h1, h2, h3, h4 {
  font-weight: 800;
  margin: 0;
}

h5, h6 {
  font-weight: 700;
  margin: 0;
}

p {
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 200;
  font-style: italic;
}

.btn-primary {
  transition: all 0.5s ease-in-out;
  background-color: #6c1d30;
  border: 1px solid #6c1d30;
  color: #fbfaf9;
}

.btn-primary:hover {
  background-color: #591626;
  border: 1px solid #591626;
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #782237;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #782237;
  border-color: #782237;
}

.btn-secondary {
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: 2px solid #6c1d30;
  color: #6c1d30;
}

.btn-secondary:hover {
  background-color: #6c1d30;
  border: 2px solid #591626;
}

.btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #CCAD91;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #782237;
  border-color: #782237;
}

.butler {
  font-family: "Butler Stencil", serif !important;
  line-height: 1;
}

@media (max-width: 992px) {
  #main .nav-section .navbar-nav {
    background: #6c1d30;
    color: #fbfaf9;
    border-radius: 5px;
  }
}
#main .nav-section .nav-link {
  color: #6c1d30 !important;
}
@media (max-width: 992px) {
  #main .nav-section .nav-link {
    color: #fbfaf9 !important;
  }
}
#main .nav-section .nav-link:hover {
  color: #591626 !important;
}
@media (max-width: 992px) {
  #main .nav-section .nav-link:hover {
    color: #CCAD91 !important;
  }
}
#main .nav-section .dropdown-menu {
  border-radius: 5px;
  border: none;
  background: #6c1d30;
}
#main .nav-section .dropdown-menu .dropdown-item {
  color: #fbfaf9;
}
#main .nav-section .dropdown-menu .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.3);
}
#main .bg-down {
  position: absolute;
  height: 128px;
  width: 100vw;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6C1D30 96.94%);
}
#main #frase {
  height: 128px;
  margin-top: -126px;
  position: relative;
  color: #fbfaf9;
}
#main #frase .bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6C1D30 96.94%);
}
#main #count {
  background: #6c1d30;
  color: #fbfaf9;
}
#main #count .plant {
  max-width: 90px;
}
#main #count .faltam {
  background-image: url(../images/main/faltam.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 3.5rem !important;
}
#main #content .card {
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=main.css.map */