
$marsalal:#782237;
$marsala:#6c1d30;
$marsalad:#591626;
$amarelo: #CCAD91;
$branco:#fbfaf9;

:root{
  --marsala:#6c1d30;
  --amarelo: #CCAD91;
  --branco:#fbfaf9;
}

/* ELEMENTS*/

  .fb{
  bottom: 0;
  left: 0;
  
    img{
      width: 150px;
    }
  }

  
  .cb{
  bottom: 10px;
  right: 10px;
  
    img{
      width: 50px;
    }
  }
  
  .mc{
    @media (min-width:1210px) {
      top: -100px;
    }
    @media (min-width:2100px) {
      bottom: -200px;
    }
  
    img{
      width: 40vw;
      mix-blend-mode: multiply;
  
      @media (max-width:1440px) {
        width: 50vw;
      }
      @media (max-width:768px) {
        width: 70vw;
      }
      @media (max-width:600px) {
        width: 80vw;
      }
      @media (max-width:450px) {
        width: 100vw;
      }
    }
  }
  
  .mb{
    bottom: 0;
    right: 0;
    @media (min-width:1210px) {
      bottom: -100px;
    }
    @media (min-width:2100px) {
      bottom: -200px;
    }
  
  
    img{
      width: 40vw;
      mix-blend-mode: multiply;
  
      @media (max-width:1440px) {
        width: 50vw;
      }
      @media (max-width:768px) {
        width: 70vw;
      }
      @media (max-width:600px) {
        width: 80vw;
      }
      @media (max-width:450px) {
        width: 100vw;
      }
    }
  }
  .elements{
    position: fixed;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    background-image: url(../images/bg.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: contain;
    z-index: -1020;
  }

  
  /* GERAL */


  body {
    font-family: 'Montserrat', sans-serif;
    background-color: $branco;
    color:$marsala;
    
    
  }

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}
*{
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

h1, h2, h3, h4{
  font-weight: 800;
  margin: 0;
}

h5, h6{
  font-weight: 700;
  margin: 0;
}
p{
  margin-bottom: .5rem;
}

.title{
  font-weight: 200;
  font-style: italic;
}

.btn{
  padding: 0.375rem 1.5rem;
  &:active{
    transform: translate(3px,3px);
  }
  &:hover{
    cursor: pointer;
  }
}
.btn-primary{
  transition: all 0.5s ease-in-out;
  background-color:$marsala;
  border:1px solid $marsala;
  color:$branco;
  &:hover{
    background-color:$marsalad;
    border:1px solid $marsalad;
    
  }
  &:focus, &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus{
  box-shadow: 0 0 0 0.2rem $marsalal;
  }
  
  &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
    color: $branco;
    background-color: $marsalal;
    border-color: $marsalal;
  }
}

.btn-secondary{
  transition: all 0.5s ease-in-out;
  background-color:transparent;
  border:2px solid $marsala;
  color:$marsala;
  &:hover{
    color: $branco!important;
    background-color:$marsala;
    border:2px solid $marsalad!important;
    
  }
  &:focus, &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus{
  box-shadow: 0 0 0 0.1rem $amarelo;
  }
  
  &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
    color: $branco!important;
    background-color: $marsalal;
    border-color: $marsalal;
  }

  &.light{
    border:2px solid $branco;
    color:$branco;
    
  }
}

.butler{
  font-family: "Butler Stencil", serif!important;
  line-height: 1;
}

.tag{
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 8px;
}

.radius-10{
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.radius-5{
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.space{
  height: 90px;
}

#menu{
  &.nav-marsala{
    background: $marsala!important;
      
      .nav-link{
        color: $branco!important;
        &:hover{
          color: $amarelo!important;
        }
      }
  }
  .navbar-nav{
    @media (max-width:991px) {
      background: $marsala;
      color: $branco;
      border-radius: 5px;

    }
  }

  .nav-link{
    color: $marsala!important;
    @media (max-width:991px) {
      color: $branco!important;
    }
  
    &:hover{
      color: $marsalad!important;

      @media (max-width:991px) {
        color: $amarelo!important;
      }
    }
  }

  .dropdown-menu{
    border-radius: 5px;
    border: none;
    background: $marsala;

    .dropdown-item{
      color: $branco;

      &:hover{
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#main{


  .banner{
    position: relative;
    
    .parallax{
      background-image: url(../images/main/main-desktop.jpg);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.01s ease-in-out;

      @media (max-width:991px) {
        background-image: url(../images/main/main-mobile.jpg);
      }
    }

    .img-banner{
      opacity: 0;
    }

    .data-space{
      width: 180px;
      position: absolute;
      top: 75px;
    }
    .data-img{
      transition: 0.75s ease-in-out;
      height: 50px;
      margin: 0.5rem;
    }
  }
  #frase{
    height: 128px;
    margin-top: -126px;
    position: relative;
    color: $branco;

    &.bg-down{
      //position:absolute;
      //height: 128px;
      width: 100vw;
      //bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6C1D30 96.94%);
    }
    .bg{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6C1D30 96.94%);
    }
  }
  #count{
    background: $marsala;
    color: $branco;

    .plant{
      max-width: 90px;
    }
    .faltam{
      background-image: url(../images/main/faltam.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding-bottom: 3.5rem!important;
    }

    .time{
      display: flex;
      .butler{
        margin: 0 6px 0 12px;
      }
    }
    
  }
  #content{
    .card-btn{
      margin-top: 0.75rem;
    }
    #cerimonia{
      min-height: 350px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;

      .card-image{
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        @media (max-width:767px) {
          background-size: 100%;
        }
        &:hover{
          background-size: auto 110%;
          @media (max-width:767px) {
            background-size: 110%;
          }
        }

        &.igreja{
          background-image: url(../images/main/igreja.jpg);
          width: 50%;
          @media (max-width:767px) {
            width: 100%;
            height: auto;
            min-height: 300px;
          }
        }
      }
      .card-content{
        padding: 1.5rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width:767px) {
          width: 100%;
          background-size: 110%;
        }
        .tag{
          text-transform: uppercase;
          font-weight: 200;
          margin-bottom: 8px;
        }
      }
    }
    .card{
      color: $branco;
      min-height: 350px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-color: transparent;
        
        &:hover{
          background-size: auto 110%;
          
        }

        &.lista{
          background-image: url(../images/main/lista.jpg); 
        }
        &.historia{
          background-image: url(../images/main/breve.png); 
        }
        &.romantico{
          background-image: url(../images/main/breve.png); 
        }
        &.padrinhos{
          background-image: url(../images/main/padrinhos.jpg); 
        }
        &.dress{
          background-image: url(../images/main/dress.jpg); 
        }
        &.pedido{
          background-image: url(../images/main/breve.png); 
        }
      
      .card-content{
        min-height: 350px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        
        background: linear-gradient(0deg, rgba(108,29,48,.5) 0%, rgba(108,29,48,0) 50%, rgba(108,29,48,.5) 100%);
        background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%);
        //background: linear-gradient(0deg, rgba(251,250,249,.5) 0%, rgba(251,250,249,0) 50%, rgba(251,250,249,.5) 100%);
        &.breve{
          background: none;
          color: $marsala;

          .light{
            border:2px solid $marsala;
            color:$marsala;
            
          }
        }
        
      }
    }
  }

}

footer{
  a{
    color: $marsala;

    &:hover{
      color: $amarelo;
      text-decoration: none;
    }
  }
}

