:root {
  --marsala:#6c1d30;
  --amarelo: #CCAD91;
  --branco:#fbfaf9;
}

/* ELEMENTS*/
.fb {
  bottom: 0;
  left: 0;
}
.fb img {
  width: 150px;
}

.cb {
  bottom: 10px;
  right: 10px;
}
.cb img {
  width: 50px;
}

@media (min-width: 1210px) {
  .mc {
    top: -100px;
  }
}
@media (min-width: 2100px) {
  .mc {
    bottom: -200px;
  }
}
.mc img {
  width: 40vw;
  mix-blend-mode: multiply;
}
@media (max-width: 1440px) {
  .mc img {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .mc img {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .mc img {
    width: 80vw;
  }
}
@media (max-width: 450px) {
  .mc img {
    width: 100vw;
  }
}

.mb {
  bottom: 0;
  right: 0;
}
@media (min-width: 1210px) {
  .mb {
    bottom: -100px;
  }
}
@media (min-width: 2100px) {
  .mb {
    bottom: -200px;
  }
}
.mb img {
  width: 40vw;
  mix-blend-mode: multiply;
}
@media (max-width: 1440px) {
  .mb img {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .mb img {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .mb img {
    width: 80vw;
  }
}
@media (max-width: 450px) {
  .mb img {
    width: 100vw;
  }
}

.elements {
  position: fixed;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  background-image: url(../images/bg.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: contain;
  z-index: -1020;
}

/* GERAL */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fbfaf9;
  color: #6c1d30;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

* {
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

hr {
  border-top: 1px solid var(--marsala);
}

button:focus {
  outline: 0;
  transform: scale(1.1);
}

h1, h2, h3, h4 {
  font-weight: 800;
  margin: 0;
}

h5, h6 {
  font-weight: 700;
  margin: 0;
}

p {
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 200;
  font-style: italic;
}

.btn {
  padding: 0.375rem 1.5rem;
}
.btn:active {
  transform: translate(3px, 3px);
}
.btn:hover {
  cursor: pointer;
}

.btn-primary {
  transition: all 0.5s ease-in-out;
  background-color: #6c1d30;
  border: 1px solid #6c1d30;
  color: #fbfaf9;
}
.btn-primary:hover {
  background-color: #CCAD91;
  border: 1px solid #CCAD91;
  color: #6c1d30;
}
.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #782237;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fbfaf9;
  background-color: #782237;
  border-color: #782237;
}

.btn-secondary {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: 2px solid #6c1d30;
  color: #6c1d30;
}
.btn-secondary:hover {
  color: #fbfaf9 !important;
  background-color: #6c1d30;
  border: 2px solid #591626 !important;
}
.btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem #CCAD91;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fbfaf9 !important;
  background-color: #782237;
  border-color: #782237;
}
.btn-secondary.light {
  border: 2px solid #fbfaf9;
  color: #fbfaf9;
}

.butler {
  font-family: "Butler Stencil", serif !important;
  line-height: 1;
}

.tag {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 8px;
}

.radius-10 {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.radius-5 {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .close {
  color: #6c1d30;
  opacity: 0.7;
}
.modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

#menu.nav-marsala {
  background: #6c1d30 !important;
}
#menu.nav-marsala .nav-link {
  color: #fbfaf9 !important;
}
#menu.nav-marsala .nav-link:hover {
  color: #CCAD91 !important;
}
@media (max-width: 991px) {
  #menu .navbar-nav {
    background: #6c1d30;
    color: #fbfaf9;
    border-radius: 5px;
  }
}
#menu .nav-link {
  color: #6c1d30 !important;
}
@media (max-width: 991px) {
  #menu .nav-link {
    color: #fbfaf9 !important;
  }
}
#menu .nav-link:hover {
  color: #591626 !important;
  cursor: pointer;
}
@media (max-width: 991px) {
  #menu .nav-link:hover {
    color: #CCAD91 !important;
  }
}
#menu .dropdown-menu {
  border-radius: 5px;
  border: none;
  background: #6c1d30;
}
#menu .dropdown-menu .dropdown-item {
  color: #fbfaf9;
}
#menu .dropdown-menu .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.3);
}

.banner {
  position: relative;
}
.banner .parallax {
  background-image: url(../images/main/main-desktop.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.01s ease-in-out;
}
@media (max-width: 991px) {
  .banner .parallax {
    background-image: url(../images/main/main-mobile.jpg);
  }
}
.banner .img-banner {
  opacity: 0;
}
.banner .data-space {
  width: 180px;
  position: absolute;
  top: 90px;
}
@media (max-width: 425px) {
  .banner .data-space {
    top: 50px;
  }
}
.banner .data-img {
  transition: 0.75s ease-in-out;
  height: 60px;
  margin: 0.5rem;
}

#frase {
  height: 128px;
  margin-top: -126px;
  position: relative;
  color: #fbfaf9;
}
#frase.bg-down {
  width: 100vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6C1D30 96.94%);
}
#frase .bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6C1D30 96.94%);
}

#count {
  background: #6c1d30;
  color: #fbfaf9;
}
#count .plant {
  max-width: 90px;
}
#count .faltam {
  background-image: url(../images/main/faltam.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 3.5rem !important;
}
#count .time {
  display: flex;
}
#count .time .butler {
  margin: 0 6px 0 12px;
}

#content .card-btn {
  margin-top: 0.75rem;
}
#content #cerimonia {
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#content #cerimonia .card-image {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  #content #cerimonia .card-image {
    background-size: 100%;
  }
}
#content #cerimonia .card-image:hover {
  background-size: auto 110%;
}
@media (max-width: 767px) {
  #content #cerimonia .card-image:hover {
    background-size: 110%;
  }
}
#content #cerimonia .card-image.igreja {
  background-image: url(../images/main/igreja.jpg);
  width: 50%;
}
@media (max-width: 767px) {
  #content #cerimonia .card-image.igreja {
    width: 100%;
    height: auto;
    min-height: 300px;
  }
}
#content #cerimonia .card-content {
  padding: 1.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #content #cerimonia .card-content {
    width: 100%;
    background-size: 110%;
  }
}
#content #cerimonia .card-content .tag {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 8px;
}
#content .card {
  color: #fbfaf9;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}
#content .card:hover {
  background-size: auto 110%;
}
#content .card.lista {
  background-image: url(../images/main/lista.jpg);
}
#content .card.historia {
  background-image: url(../images/main/historia.jpg);
}
#content .card.romantico {
  background-image: url(../images/main/ensaio.jpg);
}
#content .card.padrinhos {
  background-image: url(../images/main/padrinhos.jpg);
}
#content .card.dress {
  background-image: url(../images/main/dress.jpg);
}
#content .card.pedido {
  background-image: url(../images/main/pedido.jpg);
}
#content .card .card-content {
  min-height: 350px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  background: linear-gradient(0deg, rgba(108, 29, 48, 0.5) 0%, rgba(108, 29, 48, 0) 50%, rgba(108, 29, 48, 0.5) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
#content .card .card-content.breve {
  background: none;
  color: #6c1d30;
}
#content .card .card-content.breve .light {
  border: 2px solid #6c1d30;
  color: #6c1d30;
}

footer a {
  color: #6c1d30;
}
footer a:hover {
  color: #CCAD91;
  text-decoration: none;
}

#modalVideo .modal-content {
  background: none;
  border: none;
  align-items: center;
}
#modalVideo .modal-content .modal-header {
  border: none;
  padding: 0;
}
#modalVideo .modal-content .modal-body {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#modalVideo .modal-content .modal-body button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.75rem;
  z-index: 9;
}
#modalVideo .modal-content .modal-body video {
  height: 90vh;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */