
$marsalal:#782237;
$marsala:#6c1d30;
$marsalad:#591626;
$amarelo: #CCAD91;
$branco:#fbfaf9;

:root{
  --marsala:#6c1d30;
  --amarelo: #CCAD91;
  --branco:#fbfaf9;
}

body{
  overflow-x: hidden;
}
.space{
  height: 90px;
}

.sticky-top{
  top: 115px!important;
}

#padrinhosPage{

  hr{
    border-top: 1px solid $marsala;
  }
  .nome{
    margin-bottom: .5rem;
  }
}

#Fotos{
  .card{
    color: $branco;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 10px;

    @media (max-width:425px) {
      height:130px
    }
      
    img{
      

      &:hover{
       transform: scale(1.1);
        
      }
      &.width{
        width: 100%;
      }
      &.height{
        height: 100%;
      }
    }

      
    
    
  }
}





