
$marsalal:#782237;
$marsala:#6c1d30;
$marsalad:#591626;
$amarelo: #CCAD91;
$branco:#fbfaf9;

:root{
  --marsala:#6c1d30;
  --amarelo: #CCAD91;
  --branco:#fbfaf9;
}

body{
  overflow-x: hidden;
}
.space{
  height: 90px;
}

.sticky-top{
  top: 115px!important;
}

#padrinhosPage{

  hr{
    border-top: 1px solid $marsala;
  }
  .nome{
    margin-bottom: .5rem;
  }
}

#chaPage{
  
}

